{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
    إضافة خدمة جديدة
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">إضافة خدمة جديدة</h1>
    <div class="card shadow">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-success w-100">إضافة الخدمة</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}